.features__bg {
    padding: 90px 0;
    margin: 0;
}

.fetaures__center {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.fetaures__center h1 {
    font-weight: 500;
}

.fetaures__center h1 span {
    color: var(--blue-dark);
}

.features__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features__col {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
}

.features__col ul {
    font-size: 24px;
    color: var(--blue-dark);
}

.features__col ul li:hover {
    color: var(--blue-dark);
}
.features__col ul li {
    color: black;
    text-transform: capitalize;
}

.seemore__btns {
    margin-top: 40px;
}

.seemore__btns .seemore {
    display: inline-block;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0%;
    background-color: #1c1b2d;
}

.seemore__btns .seemore:hover {
    background-color: var(--blue-dark);
}

.features__col img {
    width: 500px;
    height: auto;
}