:root {
  --blue-dark:#33d0f2;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.btn {
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #33d0f2;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}